.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: var(--secondary-bg);
  color: var(--primary-text);
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  margin-top: auto;
  border-top: 1px solid var(--border-color);

  p {
    margin: 0;
    opacity: 0.8;
  }

  &:hover p {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
