.theme-toggle {
  background: none;
  border: 2px solid var(--primary-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  padding: 0;
  color: var(--primary-text);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.dark-mode {
  .theme-toggle {
    border-color: var(--secondary-text);
    color: var(--secondary-text);

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
