@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-bg: #313131;
  --primary-text: #ffffff;
  --secondary-bg: #1e1e1e;
  --secondary-text: #d1d1d1;
  --accent-color: #00ff99;
  --border-color: rgba(255, 255, 255, 0.2);

  --button-bg: #7b7b7b;
  --button-hover-bg: #00ff99;
  --button-active-bg: #009977;
}

.dark-mode {
  --primary-bg: #f5f5f5;
  --primary-text: #121212;
  --secondary-bg: #ffffff;
  --secondary-text: #444444;
  --accent-color: #0099ff;
  --border-color: rgba(0, 0, 0, 0.2);

  --button-bg: #cac9c9;
  --button-hover-bg: #0099ff;
  --button-active-bg: #0077cc;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Inter', sans-serif;
}

.dark-mode {
  background-color: #fff;
  color: #121212;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //  padding-top: 90px;
}
.page-wrapper {
  flex: 1;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

@media (max-width: 1023px), (min-width: 1921px), (max-height: 699px) {
  .app {
    display: none;
  }

  .resolution-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: var(--primary-bg);
    color: var(--primary-text);
    font-size: 1.5rem;
    padding: 20px;
  }
}
