@import url(global.scss);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--primary-bg);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;

  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #00ff99;
      }
      &.active {
        color: #00ff99;
        font-weight: bold;
      }
    }
  }
}

.dark-mode {
  .header {
    background: #bbbaba79;
    color: #121212;

    nav a {
      color: #121212;

      &:hover {
        color: #0099ff;
      }

      &.active {
        color: #0099ff;
        font-weight: bold;
      }
    }
  }
}
